{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col">
                <h1>{{ trailers | length }} iTunes Movie trailers</h1>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <h4>{{ "now"|date("d.m.Y - H:i") }}</h4>
            </div>
        </div>

        <p class="mb-4">Current class: <strong>{{ currentclass }}</strong> <br> Current method: <strong>{{ currentmethod }}</strong></p>

        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td>{{ trailer.title }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
